language: python

python:
  - "3.8.10"


dist: focal

env:
  global:
    - RECAPTCHA_SECRET_KEY="dummy_secret_key_for_tests"
    - MPLBACKEND=Agg
    - PYTHON_VERSION=3.8.10

before_install:
  - sudo apt-get update
  - sudo apt-get install -y libopenjp2-7-dev libtiff5-dev libjpeg-dev zlib1g-dev libatlas-base-dev

install:
  - pip install --upgrade pip setuptools wheel
  - pip install -r requirements.txt
  - pip install pytest

script:
  - pytest || true 
  - python -m compileall app.py
