language: python

python:
  - "3.8"

# Focal Fossa
dist: focal

before_install:
  - sudo apt-get update
  # для Pillow и Matplotlib в Focal
  - sudo apt-get install -y libopenjp2-7-dev libtiff5-dev libjpeg-dev zlib1g-dev

install:
  - pip install --upgrade pip
  - pip install -r requirements.txt

script:
  - pytest